@charset "UTF-8";


/* Typical Device Breakpoint

Pequenas telas:   até 600px

Celular:   de 600px até 768px

Tablets:   de 769px até 992px

Pc:   992px até 1200px

Grandes telas:   acima de 1200px

*/

